/* ==========================
   TABLETS
========================== */

@media (max-width: 992px){

    .container{
        width: 92%;
    }

    .hero-content,
    .about-content{
        flex-direction: column;
        text-align: center;
    }

    .hero-left p{
        margin: 0 auto;
    }

    .hero-buttons,
    .social-links{
        justify-content: center;
    }

    .photo-card{
        width: 320px;
        height: 420px;
        margin-top: 40px;
    }

    .about-text{
        text-align: center;
    }

}
/* ==========================
   CELULARES
========================== */

@media (max-width:768px){

    .header .container{

        height:80px;

        display:flex;

        justify-content:space-between;

        align-items:center;

    }

    .menu-toggle{

        display:block;

    }

    .btn-contact{

        display:none;

    }

    .theme-btn{

        display:none;

    }

    .navbar{

        position:absolute;

        top:80px;

        left:0;

        width:100%;

        background:#fff;

        display:none;

        box-shadow:0 15px 30px rgba(0,0,0,.08);

    }

    body.dark .navbar{

        background:#1F2937;

    }

    .navbar.active{

        display:block;

    }

    .navbar ul{

        flex-direction:column;

        padding:30px;

        gap:25px;

    }

}
.hero{

    padding-top:140px;
    min-height:100vh;
    display:flex;
    align-items:center;

}
/* ==========================
   CELULARES PEQUENOS
========================== */

@media (max-width:480px){

    .logo{

        font-size:24px;

    }

    .hero-left h1{

        font-size:34px;

    }

    .hero-left h2{

        font-size:22px;

    }

    .hero-left p{

        font-size:16px;

    }

    .section-tag{

        font-size:14px;

    }

    .about h2,
    .skills h2{

        font-size:30px;

    }

    .skills-grid{

        grid-template-columns:1fr;

    }

    .stats{

        grid-template-columns:1fr;

    }

    .about-cards{

        grid-template-columns:1fr;

    }

}
img{

    max-width:100%;

    display:block;

}
html{

    scroll-behavior:smooth;

}